* {
    border: #00FF00 solid 1px;
}
html {

}
body {
    background-color: #aa5555;
    color: #FAFAFA;
    height: 100svh;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 4rem;
    font-weight: 1200;
}
h2 {
    font-size: 3rem;
    font-weight: 900;
}
.flex-container {
    display: flex;
    flex: 1 1 100%;
}
.flex-column {
    flex-direction: column;
}
.full-width {

}
.max-width {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #005566;
    margin: 0rem auto;
}
.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.game {
    background-color: #719cac;
    margin: 0rem auto;
}
.game > * {
    max-width: 400px;
}
.score {
    display: flex;

}
button {
    font-size: 64px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
}
#play-again {
    font-size: 16px;
    height: 60px;
}
.accent-border {
    border: #FAFAFA solid 1px;
}